database
sqlite

In [ ]:
import sqlite3

conn = sqlite3.connect('example.db')   #connect db
cur =conn.cursor()    #open db

cur.execute('''
            CREATE TABLE students(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT,
                phone TEXT, 
                address TEXT
                )
            ''')
conn.commit()
conn.close()

In [4]:
# insert data 
import sqlite3
conn = sqlite3.connect('example.db')   #connect db
cur =conn.cursor()    #open db


input_name = input("Enter Name :")
input_ph = input("Enter Phone : ")
input_ad = input("Enter Address : ")


cur.execute("INSERT INTO students(name,phone, address)VALUES (?,?,?)", (input_name,input_ph, input_ad))


conn.commit()
conn.close()